.App {
  cursor: url('../src/cursor/pencil.png'), default;
  scroll-behavior: smooth;
  overflow: hidden;
}
html {
  scroll-behavior: smooth;

}

@font-face {
  font-family: superFunky;
  src: url(../src/fonts/SuperFunky-lgmWw.ttf);
}
@font-face {
  font-family: limee;
  src: url(../src/fonts/Azonix-1VB0.otf);
}

.titleName{
  font-family: superFunky;
  font-size: 50px;
  color: black;
}

.header1{
  font-family: limee;
  font-size: 50px;
  color: black;
}
.paragraph{
    font-family: Arial;
    font-size: 25px;
    color: black;
  
}

.pulse {
  display: block;
  width: 25px;
  height: 35px;
  border-radius: 500px;
  background: #ecb50200;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 1s infinite;
  scroll-behavior: smooth;
  size: 10px;

}

.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgb(255, 255, 255);
    box-shadow: 0 0 0 0 rgb(255, 255, 255);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
